# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.venv/
env/
*.egg-info/
dist/
build/

# Project Specific
Output/
Input_Feeds/*
!Input_Feeds/.gitkeep

# System/IDE
.DS_Store
.vscode/
.idea/
*.swp
